@(formaCliente: Form[formas.Cliente])

@import helper._

@main("Nuevo Cliente") {
  
  @form(action = routes.Clientes.crear) {
     @inputText(
        field = formaCliente("nombre_cte"),
        args = '_label -> "Nombre"
     )

     @inputText(
        field = formaCliente("ap_pat_cte"),
        args = '_label -> "Apellido Paterno"
     )

     @inputText(
        field = formaCliente("ap_mat_cte"),
        args = '_label -> "Apellido Materno"
     )

     @inputText(
        field = formaCliente("rfc_cte"),
        args = '_label -> "RFC"
     )

     @inputText(
        field = formaCliente("calle_cte"),
        args = '_label -> "Calle"
     )

     @inputText(
        field = formaCliente("num_calle_cte"),
        args = '_label -> "Numero"
     )

     @inputText(
        field = formaCliente("colonia_cte"),
        args = '_label -> "Colonia"
     )

     @inputText(
        field = formaCliente("codp_cte"),
        args = '_label -> "CP"
     )

     @inputText(
        field = formaCliente("mun_cte"),
        args = '_label -> "Municipio"
     )

     @inputText(
        field = formaCliente("est_cte"),
        args = '_label -> "Estado"
     )

     @inputText(
        field = formaCliente("tel_cte"),
        args = '_label -> "Telefono"
     )

     @inputText(
        field = formaCliente("email_cte"),
        args = '_label -> "Email"
     )
     <p class="buttons">
       <input type="submit" value="Guardar">
     </p>
  }

}