@(formaFiltros: Form[formas.insumos.Filtro])

@import helper._

@main("Insumos") {

@form(action = routes.Niveles.index) {
      <div class="span12">
        <div class="span4">
          @inputText(
            field = formaFiltros("clav_insumo"),
            args = '_label -> "Clave Insumo"
          )
        </div>
        <div class="span4">
          @inputText(
            field = formaFiltros("Nombre"),
            args = '_label -> "Nombre"
          )
        </div>
      </div>
      <div class="span12">
        <div class="span4">
          @inputText(
            field = formaFiltros("clave_segmento_insumo"),
            args = '_label -> "Clave segmento"
          )
        </div>
        <div class="span4">
          <input type="submit" value="Filtrar">         
        </div>
      </div>
  }

  <table class="table table-striped table-bordered">
    <caption> Insumos </caption>
    <thead>
       <tr>
         <th>  </th>
         <th> Clave Insumo</th>
         <th> Nombre </th>
       </tr>
    </thead>
  </table>
}