@(formaFiltros: Form[formas.empleados.Filtro], empleados: List[models.Empleado])

@import helper._

@main("Empleados") {

  @form(action = routes.Empleados.index(".html")) {
      <div class="span12">
        <div class="span4">
          @inputText(
            field = formaFiltros("numero"),
            args = '_label -> "Numero Empleado"
          )
        </div>
        <div class="span4">
          @inputText(
            field = formaFiltros("nombre"),
            args = '_label -> "Nombre"
          )
        </div>
        <div class="span4">
          @inputText(
            field = formaFiltros("puesto"),
            args = '_label -> "Puesto"
          )
        </div>
      </div>
      <div class="span12">
        <input type="submit" value="Filtrar">
      </div>
  }

  <a href="empleados.pdf?numero=@request().getQueryString("numero")&nombre=@request().getQueryString("nombre")&puesto=@request.getQueryString("puesto")">Exportar a PDF...</a>
  <table class="table table-striped table-bordered">
    <caption> Empleados </caption>
    <thead>
       <tr>
         <th> Numero </th>
         <th> Nombre </th>
         <th> Puesto </th>
         <th> Tel Celular</th>
         <th> Detalle </th>
       </tr>
    </thead>
    
    <tbody>
      @empleados.map { empleado =>
          <tr>
            <td>@empleado.num_empl</td>
            <td>@empleado.nombre</td>
            <td>@empleado.puesto_empl</td>
            <td>@empleado.tel_cel_empl</td>
            <td><a href="/empleados/@empleado.num_empl">Detalle</a></td>
          </tr>
        }
    </tbody>
  </table>
}