@(formaFiltros: Form[formas.productos.Filtro], productos: List[Producto])

@import helper._

@main("productos") {

  @form(action = routes.Productos.index(".html")) {
      <div class="span12">
        <div class="span4">
          @inputText(
            field = formaFiltros("clav_prod"),
            args = '_label -> "Clave Producto"
          )
        </div>
        <div class="span4">
          @inputText(
            field = formaFiltros("nom_prod"),
            args = '_label -> "Nombre Producto"
          )
        </div>
        <div class="span4">
          <input type="submit" value="Filtrar">
        </div>
      </div>
      <div class="span12">
        <!-- div class="span4">
          @inputText(
            field = formaFiltros("prec_prod"),
            args = '_label -> "Precio producto"
          )
        </div -->
      </div>
  }
  <a href="productos.pdf?clav_prod=@request().getQueryString("clav_prod")&nom_prod=@request().getQueryString("nom_prod")">Exportar a PDF...@request().getQueryString("asdfasdf")</a>
  <table class="table table-striped table-bordered">
    <caption> Productos </caption>
    <thead>
       <tr>
         <th> Clave Producto </th>
         <th> Nombre  Producto</th>
         <th> Precio Producto </th>
       </tr>
    </thead>
    @productos.map { producto =>
      <tr>
        <td>@producto.clav_prod</td>
        <td>@producto.nomb_prod</td>
        <td>@producto.prec_prod</td>
      </tr>
    }
  </table>
}