@(formaFiltros: Form[formas.usuarios.Filtro])
<html>
<head>
<title>Bienvenidos</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
</head>
 
 @import helper._
 
<body class="body-estilo"> 
  <div class="container">
    <div id="header">
      <div class="span5 offset3" style="margin-top: 100px" id="titulo-login">
        <div class="span4">
          <img alt="Logo" src="@routes.Assets.at("images/logo.png")">
        </div>
        <h3>INGRESAR SISTEMA REPORTE</h3>
       @form(action = routes.Usuarios.verificar()) {
          @inputText(
            field = formaFiltros("num_empleado"),
            args = '_label -> "Numero Empleado"
          )
          <br><br>
          <label>Contrase&ntilde;a</label>
          <input type="password" name="password">
          <br><br>
          <input type="submit" value="Filtrar">
        }
       
      </div>
    </div>
  </div>
</body>
</html>
