@(message: String) 

@main("Welcome to Play 2.0") {

<table class="table table-hover table-striped table-bordered">
  <caption>
    Titulo tabla!
  </caption>
	<thead>
		<tr>
			<th>Numero</th>
		</tr>
	</thead>
  <tbody>
    <tr class="error">
      <td> Error </td>
    </tr>
    <tr>
      <td> Contenido </td>
    </tr>
    <tr>
      <td> Contenido </td>
    </tr>
    <tr>
      <td> Contenido </td>
    </tr>
    <tr>
      <td> Contenido </td>
    </tr>
    <tr>
      <td> Contenido </td>
    </tr>
    <tr>
      <td> Contenido </td>
    </tr>
    <tr>
      <td> Contenido </td>
    </tr>
  </tbody>
</table>

}
