@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
  <title>@title</title>
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
  <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
</head>
<body>
  <div class="container">
	<div class="container-fluid">
	  <div class="row-fluid">
  </style>
	    <h2>Reportes</h2>
	  </div>
	  <div class="row-fluid">
			<div class="span12">
		 	<div class="navbar">
				  <div class="navbar-inner">
						<ul class="nav">
							<li>
							  <a href="/clientes/nuevo">Nuevo Cliente!</a>
							</li>
							<li>
							 <a href="/clientes">Clientes</a>
							</li>
		          <li>
		           <a href="/proveedores">Proveedores</a>
		          </li>
		          <li>
		           <a href="/empleados">Empleados</a>
		          </li>
		          <li> 
		           <a href="/comandas">Comandas </a>
		          </li>
		          <li>
		           <a href="/productos">Productos</a>
		          </li>
            <li> 
               <a href="/comandas">Insumos </a>
              </li>
						</ul>
				  </div>
				</div>
				</div>
			</div>
		<div class="row-fluid">		
		<div class="span12">@content</div>
	 </div>
	</div>
	</div>
</body>
</html>