@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
  <title>@title</title>
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
  <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
</head>
<body>
  <div class="container">
	<div class="container-fluid">
	  <div class="row-fluid">
  </style>
	    <h2>Reportes - @title</h2>
	  </div>
	  <div class="row-fluid">
			<div class="span12">
		 	<div class="navbar">
				  <div class="navbar-inner">
						<ul class="nav">
              <li>
                  <a href="/clientes">Clientes</a>
              </li>
							<li class="dropdown">
                 <a href="/proveedores.html">Proveedores</a>
							</li>
		          <li class="dropdown">
                 <a href="/empleados.html">Empleados</a>
		          </li>
		          <!-- li class="dropdown"> 
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                   Comandas
                   <b class="caret"></b>
              <ul class="dropdown-menu">
                <li>
                   <a href="/coamandas/semanal">Semanal</a>
                </li>
                <li>
                 <a href="/coamandas/mensual">Mensual</a>
                </li>         
              </ul>             
		           </a>
		          </li -->
		          <li>
		           <a href="/productos.html">Menu</a>
		          </li>
               <li>
                  <a href="/insumos.html">Insumos</a>
               </li>
               <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Ventas
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="/ventas.html">Ventas</a>
                    </li>
                    <li>
                      <a href="/ventas/semanal.html">Semanal</a>
                    </li>
                    <li>
                      <a href="/ventas/mensual.html">Mensual</a>
                    </li>
                    <li>
                      <a href="/ventas/lo-mas-vendido.html">Mas Vendido</a>
                    </li>
                  </ul>
               </li>
               <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Reportes
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="/reportes/articulos-mas-vendidos">Lo mas vendido</a>
                    </li>
                    <li>
                      <a href="/reportes/clientes-frecuentes">Clientes Frecuentes</a>
                    </li>
                    <li>
                      <a href="/reportes/existencias-minimas">Existencias Minimas</a>
                    </li>
                    <li>
                      <a href="/reportes/historial-compras-proveedor">Historial  de Compras al Proveedor</a>
                    </li>
                    <li>
                      <a href="/reportes/historial-facturas">Historial de Facturas</a>
                    </li>
                    <li>
                      <a href="/reportes/historial-ordenes-compras">Historial de Ordenes Compra</a>
                    </li>
                     <li>
                      <a href="/reportes/historial-ventas">Historial de Ventas</a>
                    </li>
                    <li>
                      <a href="/reportes/platos-mas-vendido">Platos mas Vendidos</a>
                    </li>
                    <li>
                      <a href="/reportes/requisiciones_pendiente">Requisiciones Pendiente</a>
                    </li>
                    <li>
                      <a href="/reportes/requisiciones_historial">Historial de Requisiciones</a>
                    </li>
                  </ul>
               </li>
						</ul>
				  </div>
				</div>
				</div>
			</div>
		<div class="row-fluid">		
		  <div class="span12">@content</div>
	  </div>
	</div>
	</div>
</body>
</html>