@(ventas: List[Venta], formaFiltros: Form[formas.ventas.Filtro])

@import helper._

@main("Ventas") {

  @form(action = routes.Ventas.index(".html")) {
      <div class="span12">
        <div class="span4">
          @inputText(
            field = formaFiltros("num_venta"),
            args = '_label -> "Numero"
          )
        </div>
        <div class="span4">
          @inputText(
            field = formaFiltros("fecha"),
            args = '_label -> "Fecha"
          )
        </div>
        <div class="span4">
          @inputText(
            field = formaFiltros("estado"),
            args = '_label -> "Estatus"
          )
        </div>
      </div>
      <div class="span12">
        <input type="submit" value="Filtrar">
      </div>
  }

  <a href="ventas.pdf?num_venta=@request().getQueryString("num_venta")&fecha=@request().getQueryString("fecha")&estado=@request.getQueryString("estado")&semana=@request.getQueryString("semana")&mes=@request.getQueryString("mes")">Exportar a PDF...</a>

  <table class="table table-striped table-bordered">
    <caption>Ventas</caption>
    <thead>
       <tr>
         <th> Num. Venta </th>
         <th> Mesa </th>
         <th> Fecha </th>
         <th> Empleado </th>
         <th> Estado </th>
         <th> Turno </th>
         <th> Total </th>
         <th> Detalle </th>
       </tr>
    </thead>
    <tbody>
    @ventas.map { venta =>
      <tr>
        <td>@venta.num_coman</td>
        <td>@venta.mesa_coman</td>
        <td>@venta.fech_coman</td>
        <td>@venta.empleado().nombre()</td>
        <td>@venta.estatus_coman</td>
        <td>@venta.turno_coman</td>
        <td>@venta.total()</td>
        <td><a href="ventas/@venta.num_coman">Detalles</a></td>
      </tr>
    }
    </tbody>
    
  </table>


}