@(ventas: List[models.consultas.Ventas])

@import helper._

@main("Lo mas vendido") {
  <a href="/ventas/lo-mas-vendido.pdf">Exportar a PDF...</a>
  
  <table class="table table-striped table-bordered">
    <caption>Lo Mas Vendido</caption>
    <thead>
       <tr>
         <th> Clave producto </th>
         <th> Cantidad </th>
       </tr>
    </thead>
    <tbody>
    @ventas.map { venta =>
      <tr>
        <td>@venta.getProducto().nomb_prod</td>
        <td>@venta.getTotal()</td>
      </tr>
    }
    </tbody>
    
  </table>

}